body {
    background-image: url(images/blurry-gradient-haikei.png);
    background-color:#e784e4;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    text-align: center;
    font-size: 100%;
    font-family: Noto Sans,Trebuchet MS,Helvetica Neue,Arial,sans-serif;
}

ul,ol {
  list-style: none;
}

li {
  display: inline;
  text-align: center;
}

h1 {
    font-family: Lucida Console;
    padding: 60px;
    text-align: center;
    color: #000;
    font-size: 30px;
    margin-top: auto
}

.banner img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}
nav {
  margin-bottom: 30px;
  text-align: center;
  margin-right: 40px;
  font-size: 0.9em;
}




footer {
    display: fixed;
    font-family: Courier New;
    margin-top: 100px;
    text-align: inherit;
    font-style: italic;
    font-size: 10px;
    background-color:#ffffff
}

a:link {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    color: #3a1f2e;
}

 a:hover {
   color: #4e916a;
 }

 a:visited {
   text-decoration-line: underline;
   text-decoration-style: wavy;
   text-decoration-color: #ffffff;
 }


                 .box:before {
                     content: "";
                     z-index: -1;
                     position: absolute;
                     top: 0;
                     right: 0;
                     bottom: 0;
                     left: 0;
                     background: linear-gradient(-45deg, #ffd8be 0%, #9381ff 100% );
                     transform: translate3d(0px, 20px, 0) scale(0.95);
                     filter: blur(20px);
                     opacity: var(0.48);
                     transition: opacity 0.3s;
                     border-radius: inherit;
                 }

                 /*
                 * Prevents issues when the parent creates a
                 * stacking context. (For example, using the transform
                 * property )
                 */
                 .box::after {
                     content: "";
                     z-index: -1;
                     position: absolute;
                     top: 0;
                     right: 0;
                     bottom: 0;
                     left: 0;
                     background: inherit;
                     border-radius: inherit;
                 }
