
body {
  background-image: url(images/bgedited.png);
  background-position: center;
  overflow: hidden;
  font-family: Inter,Fraunces,sans-serif;
}

header {
  position: fixed;
  left: 10px;
  top: 0;
  min-height: 65px;
  padding: 4px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  padding: 100px 50px;

}

img.logo {
  width: 100px;
}

nav {
  display: flex;
  justify-content: flex-end;
  font-family: 'Fraunces';
  font-weight: medium;
}

img.nav-icon {
  width: 11px;
  opacity: 0.7;
}

img#hero-img {
  float: right;
  width: 200px;
  border-radius: 50%;
  filter: contrast(80%);
}

@media (max-width: 600px) {
  .hero-image {
    display: none;
  }
}



div#intro {
  margin-top: 50px;
  padding: 40px 20px;
}


p.under-intro {
  font-size: 0.9em;
  font-family: 'Fraunces';
  color: #D3DACC;
}

h1 {
  color: #EFAAC4;
  font-family: 'Fraunces';
  font-weight: medium;
  font-style: italic;
  font-size: 40px;
}

ul {
  list-style: none;
}

li {
  display: inline;
  width:160px;
  padding: 20px;
  margin: 0px;
  font-size: 0.9em;
}

a:link {
      color: #DACCD7;
      text-decoration: none;
}

a:visited {
      color: #000;
}

a:hover {
      color: #000;
      background: #D3DACC;
}

a:active {
      color: #000;
}


footer > a.credits {
  font-size: 0.6em;
  color: #DACCD7;
}

footer {
  position: fixed;
  margin-bottom: 5px;
  bottom: 0;
  width: 100%;
  text-align: center;

}
